<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <%- include("./common/head", {title:"メニュー"}) %>
    <link rel="stylesheet" href="/style/menu.css" />
  </head>
  <body>
    <%- include("./common/header", {active:"menu"}) %>
    <div class="main">
      <div class="container">
        <h3 class="section-titlse">メニュー</h3>
        <h1>多様なメニュー100種類以上！！</h1>
        <h2>焼き鳥、一品物、デザート、日替わりメニューもあります。</h2>
        <br>
        <div class="contents-item1">
            <h2>焼きとり</h2>
            <br>
            <h3>―串もの―</h3>
            <p>かわ―――――――――――300円</p>
            <p>きも―――――――――――300円</p>
            <p>ずり―――――――――――300円</p>
            <p>しんぞう―――――――――300円</p>
            <p>なんこつ―――――――――300円</p>
            <p>玉ひも――――――――――300円</p>
            <p>せぎも――――――――――300円</p>
            <p>ねぎみ――――――――――300円</p>
            <p>つくね――――――――――300円</p>
            <p>せせり――――――――――300円</p>
            <p>焼とり盛り合わせ―――――900円</p>
            <br>
            <h3>―焼き物―</h3>
            <p>ささみ梅肉――――――――350円</p>
            <p>ささみゴマ和え――――――450円</p>
            <p>ささみの明太子和え――――450円</p>
            <p>わさび和え――――――――450円</p>
            <p>てばわさ―――――――――800円</p>
            <p>手羽先(2本)――――――――350円</p>
            <p>ひっぷ(2コ)――――――――350円</p>
            <p>もも焼き―――――――――650円</p>
            <p>てばみ――――――――――650円</p>
            <p>かわおろし――――――――400円</p>
            <p>ひねおろし――――――――600円</p>
        </div>
      </div>
    </div>
    <%- include("./common/footer") %>
  </body>
</html>
