.contents-item2 p {
  margin-top: 16px;
  margin-bottom: 16px;
}
.google-map {
  border: none;
  width: 100%;
  height: 300px;
}
.contents-item3 p {
  font-size: 20px;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.contents-item3 a {
}
.contents-item3 img {
}
.fb-page {
}
